<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>DanceTube 2.0</title>
    <link rel="stylesheet" href="/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src= "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/memetube.js"></script>
  </head>
  <body>
    <div class='page-wrapper cf'>
      <header>
        <h1><!-- <a href="/"> -->DanceTube 2.0<!-- </a> --></h1>

        <nav>
          <ul>
            <li><!-- <a href="/"> -->All videos<!-- </a> --></li>
            |
            <li id='add-video'><!-- <a href="/videos/new"> -->Add video<!-- </a> --></li>
          </ul>
        </nav>
      </header>
      <div id='video-pane'>
      </div>
      <%= yield %>
    </div>
  </body>
</html>




